- const path = ".";
- const imgPath = path + "/img/";
include _picture
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css?ver")
    title Document
  body
    h1.hoge Hello from pug!
    button#js-alert-button ボタン

    div
      +webpImg("hogeclass", "img-cat", "jpg", "画像の説明", true)

    script(src="./js/bundle.js?ver")