@charset "utf-8";

$red: #f00;

.hoge {
  color: $red;
}

.alphabetical {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prefix {
  transform: translateY(-50%);
}

.grid {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}